@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

.header {
min-height: 100vh;
width: 100%;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {width: 100px;}
.lists li {list-style-type: none;
text-decoration: none;
display: inline-block;
padding: 2px 12px;
position: relative;}

.lists li a {text-decoration: none;
color: red;
text-transform: uppercase;
font-size: 15px;
font-weight: bold;}
.lists li a::after {
content: "";
background: green;
height: 2px;
width: 0;
position: absolute;
left: 0;
bottom: 0;
transition: 0.5;
}
.lists li a:hover::after {width: 100%;}
.fa {display: none;}
.Text-box {font-size: 50px;}
.course {
  margin-top: 5%;
  width: 80%;
  margin: 3% auto;
}
.row {margin-top: 5%;
display: flex;
justify-content:space-between;
flex-wrap: wrap;}
.course-col {
  width: 30%;
  padding: 1%;
  border-radius: 5px;
  transition: 0.5s;
  background-color: antiquewhite;
  padding: 20px 12px;
  margin-bottom: 3%;
}
.course-col:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px 0 red;}
.name {list-style-type: none;}
.about-section {
	width: 100%;
	min-height: 100vh;
	background-color: aliceblue;
}

.container {
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 50px;
}

.content-section {
	float: left;
	width: 50%;
}

.image-section {
	float: right;
	width: 40%;
}

.image-section img {
	width: 100%;
}

.content-section .title {
	text-transform: uppercase;
	font-size: 48px;
}

.content-section .content h3 {
	margin-top: 20px;
	color: aqua;
	font-size: 28px;
}

.content-section .content p {
	margin-top: 10px;
	color: rgb(68, 57, 225);
	font-size: 18px;
}
.content-section .content .button {
	margin-top: 30px;
}

.content-section .content .button a {
	background-color: rgb(235, 156, 156);
	padding: 12px 13px;
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	letter-spacing: 1.5px;
}
.content-section .social {
	margin-top: 24px;
}
.content-section .social i {
	color: red;
	font-size: 30px;
}

@media only screen and (max-width:500px){
  .Text-box, h3 {font-size: 20px;} 
  .fa {display: block;}
  .link {position: absolute;
    right: 0;
    top: 0;
    background-color: green;
    height: 100vh;
    width: 200px;
    z-index: 2; 
    text-align: center;}  
    .fa {display: block;
      color: gold;
      cursor: pointer;}
    .course-col {width: 100%;}  

  }